*{
    margin: 0;
    padding: 0;
}
body{
    width: 800px;
    margin: auto;
    background-color: antiquewhite;
    
}


.box__header{
    text-align: center;
    border-bottom: 2px solid aqua;

    
}

.box__body h4{
    color: tomato
    
}
.box__body h4,p{

padding-top: 20px;

}

